nav {
  max-width: 66rem;
  margin: 0 auto;
  overflow: hidden;
}

.top-navigation {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: left;
  height: 7rem;
  line-height: 7rem;
  text-align:center;

  a {
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  li {
    display: inline-block;
    margin-left: 25px;
    transition: .5s linear;

    a {
      color: #868686;
      text-transform: uppercase;

      &:after,
      &.active:after {
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 2rem;
        background: #868686;
        transition: all 0.5s linear;
      }

      &:hover:after,
      &.active:after {
        width: 100%;
      }
    }
  }
}
