extends layout
block content
    header.top-header
        h1= title
    section#articles

        article
            h3 Would you like return to articles?
            a(href="/articles/")= "<= Back"
