<article ng-controller="FormController">
    <div class="edit-page" data-click-enter="sendNewArticleForm()">
        <h3>Add new article</h3>
        <form name="addArticleForm" class="form">
            <fieldset>
                <div class="input"><label for="articleName">New name: </label>
                    <input type="text" id="articleName" ng-model="newarticle.name" required placeholder="Add name">
                </div>

                <div class="input"><label for="thumbImg">Add valid url to image: </label>
                    <input show-img="newArticleItem.imgUrl" type="text" id="thumbImg" name="thumbImg" ng-blur="validate(newarticle.url, addArticleForm)" ng-model="newarticle.url" required placeholder="Image url">
                </div>
            </fieldset>
            <br/>
            <div class="actions">
                <input id="sendButton" type="submit" ng-click="saveNewArticle(newarticle, addArticleForm)" ng-disabled="!addArticleForm.$valid" value="Save"/>
                <input type="reset" ng-click="clearPreview()" value="Reset"/>
            </div>
        </form>
    </div>
</article>
